.container {
  position: relative;
  height: 100%;
  border: 1px solid rgb(153, 153, 153);
  width: 100%;
}

.table-container {
  position: relative;
  height: 90%;
  overflow: auto;
}
table {
  width: 100%;
}
mat-paginator {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgb(153, 153, 153);
}

.first-column {
  width: 30px;
  position: relative;
}

.second-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#select-btn {
  margin-right: 10px;
}
